.chatContainer__messageBlock {
  border-top: 1px solid grey;
  padding: 10px 20px;
  background-color: #a9a9a954;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  .messageText {
    background-color: white;
    padding: 5px 10px;
    width: 100%;
  }
}